.header__search-form {
    display: flex;
    align-items: center;
}

.header__search-form-img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.header__input {
    font-family: Work Sans;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #7D92A1;
}